# 10/11/25
# LOOPS

# while loop

In [3]:
i=0
while i<=5:
    print('anjali')
    i+=1

anjali
anjali
anjali
anjali
anjali
anjali

In [4]:
# increment
i=0
while i<=5:
    print('anjali',i)
    i+=1

anjali 0
anjali 1
anjali 2
anjali 3
anjali 4
anjali 5

In [5]:
i=5
while i>=0:
    print('anjali')
    i-=1

anjali
anjali
anjali
anjali
anjali
anjali

In [6]:
# decrement 
i=5
while i>=0:
    print('anjali',i)
    i-=1

anjali 5
anjali 4
anjali 3
anjali 2
anjali 1
anjali 0

In [7]:
# nested while loop
i=0
while i<=5:
    print('anjali')
    j=0
    while j<=4:
        print('panduga')
        j=j+1
    i+=1
    print()

anjali
panduga
panduga
panduga
panduga
panduga

anjali
panduga
panduga
panduga
panduga
panduga

anjali
panduga
panduga
panduga
panduga
panduga

anjali
panduga
panduga
panduga
panduga
panduga

anjali
panduga
panduga
panduga
panduga
panduga

anjali
panduga
panduga
panduga
panduga
panduga

In [8]:
i=0
while i<=5:
    print('anjali', end=' ')
    j=0
    while j<=4:
        print('panduga', end=' ')
        j=j+1
    i+=1
    print()

anjali panduga panduga panduga panduga panduga
anjali panduga panduga panduga panduga panduga
anjali panduga panduga panduga panduga panduga
anjali panduga panduga panduga panduga panduga
anjali panduga panduga panduga panduga panduga
anjali panduga panduga panduga panduga panduga

In [62]:
# printing numbers from 1 to 10
i=1
while i<=10:
    print(i,end=' ')
    i=i+1

1 2 3 4 5 6 7 8 9 10

In [10]:
i=1
while i<=10:
    print(i,end=' ')
    i=i+1

1 2 3 4 5 6 7 8 9 10

In [11]:
i=4
while i>=0:
    print(i)
    i=i-1 # decrement

4
3
2
1
0

In [12]:
i=4
while i<=8:
    print(i)
    i=i+1 # increment

4
5
6
7
8

In [13]:
# while loop using some numbers
i=1
while i<=5:
    j=0
    while j<=5:
        print(i+j,end=' ')
        j=j+1
    i=i+1
    print()

1 2 3 4 5 6
2 3 4 5 6 7
3 4 5 6 7 8
4 5 6 7 8 9
5 6 7 8 9 10

In [14]:
i=1
while i<=5:
    j=0
    while j<=5:
        print(i*j,end=' ')
        j=j+1
    i=i+1
    print()

0 1 2 3 4 5
0 2 4 6 8 10
0 3 6 9 12 15
0 4 8 12 16 20
0 5 10 15 20 25

In [15]:
# while loop with else statement
i=10
while i<=5:
    j=0
    while j<=5:
        print(i+j,end=' ')
        j=j+1
    i=i+1
    print()
else:
    print('number not found')

number not found

In [16]:
count=0
while count<4:
    count=count+1
    print('hello')

hello
hello
hello
hello

In [17]:
#Given a number x, the task is to print the numbers from x to 0 in decreasing order in a single line.
x=3
while x>=0:
    print(x)
    x=x-1

3
2
1
0

In [18]:
x=5
while x>=0:
    print(x)
    x=x-1

5
4
3
2
1
0

In [58]:
# square of the number using while loop
i=1
x=int(input('enter the number'))
while i<=x:
    print(i**2,end=' ')
    i+=1

enter the number 10

1 4 9 16 25 36 49 64 81 100

In [20]:
num=0
while num<=5:
    print('num',num)
    num+=1

num 0
num 1
num 2
num 3
num 4
num 5

In [21]:
n=int(input('enter the number:'))
sum=0
i=1
while i<=n:
    sum=sum+i
    i=i+1
    print('the sum:',sum)

enter the number: 5

the sum: 1
the sum: 3
the sum: 6
the sum: 10
the sum: 15

In [22]:
n=int(input('enter the number:'))
sum=0
i=1
while i<=n:
    print('the sum:',sum)
    sum=sum+i
    i=i+1

enter the number: 5

the sum: 0
the sum: 1
the sum: 3
the sum: 6
the sum: 10

In [23]:
# reverse of a number using while loop
n=506223
rev=0
while n>0:
    remainder=n%10
    rev=rev*10+remainder
    n=n//10
print('reversed number:',rev)

reversed number: 322605

# for loop

In [25]:
name='anjali'
for i in name:
    print(i)

a
n
j
a
l
i

In [26]:
list1=[1,2,3,4,5,6]
for i in list1:
    print(i)

1
2
3
4
5
6

In [64]:
for i in range(5):
    print(i,end=' ')

0 1 2 3 4

In [66]:
for i in range(0,5):
    print(i,end=' ')

0 1 2 3 4

In [68]:
for i in range(0,10,2):
    print(i,end=' ')

0 2 4 6 8

In [30]:
# multiplication table using for loop
for i in range(1,41):
    if i%4==0:
        print(i)

4
8
12
16
20
24
28
32
36
40

In [31]:
# another way of writing multiplication table 
num=int(input('enter the number:'))
for i in range(1,11):
    print(num,'x',i,'=',num*i)

enter the number: 4

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [70]:
n=int(input('enter a number'))
for i in range(0,n):
    print(i,end=' ')

enter a number 10

0 1 2 3 4 5 6 7 8 9

In [33]:
# for loop using string
a='apple'
for i in a:
    print(i)

a
p
p
l
e

In [34]:
# for loop using list
fruits=['apple','banana','grapes','mango','cherry']
for i in fruits:
    print(i)

apple
banana
grapes
mango
cherry

In [35]:
fruits=['apple','banana','grapes','mango','cherry']
for i in range(len(fruits)):
    print(fruits[i])

apple
banana
grapes
mango
cherry

In [36]:
fruits=['apple','banana','grapes','mango','cherry']
for i in range(2,len(fruits)):
    print(fruits[i])

grapes
mango
cherry

In [37]:
#for loop using tuple
names=('anjali','chinni','ramchandram','arun','kiran')
for i in names:
    print(i)

anjali
chinni
ramchandram
arun
kiran

In [38]:
# for loop using set
flowers={'rose','lilly','marrygold'}
for i in flowers:
    print(i)

rose
lilly
marrygold

In [39]:
# for loop using dictionary
info={'name':'anjali','age':21,'city':'hyderabad'}
for i in info:
    print(i)

name
age
city

In [40]:
info={'name':'anjali','age':21,'city':'hyderabad'}
for i in info:
    print(i,':',info[i])

name : anjali
age : 21
city : hyderabad

In [41]:
sentence="python is a programming language"
for i in sentence:
    print(i,end=' ')
print()
for i in range(0,len(sentence),2):
    print(sentence[i],end='_')

p y t h o n   i s   a   p r o g r a m m i n g   l a n g u a g e
p_t_o_ _s_a_p_o_r_m_i_g_l_n_u_g_

In [42]:
#patterns
n=5
for i in range(n+1):
    for j in range(i):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [43]:
n=5
for i in range(n+1):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [44]:
n=5
for i in range(n,0,-1):
    for j in range(i):
        print(i,end=' ')
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [45]:
n=5
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [46]:
n=5
for i in range(1,n):
    for j in range(i):
        print(n,end=' ')
    print()

5
5 5
5 5 5
5 5 5 5

In [47]:
n=5
for i in range(n):
    for i in range(n):
        print(i,end=' ')
    print()

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [48]:
n=5
for i in range(n):
    for j in range(n):
        print(i,end=' ')
    print()

0 0 0 0 0
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4

In [49]:
n=5
for i in range(n):
    for i in range(n):
        print(n,end=' ')
    print()

5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5

In [50]:
N=int(input('enter the number'))
for i in range(N+1):
    for j in range(i):
        print('*',end=' ')
    print()

enter the number 5

*
* *
* * *
* * * *
* * * * *

In [51]:
N=int(input('enter the number'))
for i in range(N,0,-1):
    for j in range(i):
        print('*',end=' ')
    print()

enter the number 5

* * * * *
* * * *
* * *
* *
*

In [52]:
N=int(input('enter the number'))
for i in range(N+1):
    for j in range(i):
        print('*',end=' ')
    print()

for i in range(N,0,-1):
    for j in range(i):
        print('*',end=' ')
    print()

enter the number 5

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

# Break statement

In [54]:
fruits=['apple','banana','cherry','grapes']
for i in fruits:
    print(i)
    if i=='banana':
        print(i)

apple
banana
banana
cherry
grapes

In [55]:
fruits=['apple','banana','cherry','grapes']
for i in fruits:
    if i=='banana':
        print(i)

banana

In [56]:
fruits=['apple','banana','cherry','grapes']
for i in fruits:
    if i=='banana':
        print(i)
        break

banana

In [57]:
fruits=['apple','banana','cherry','grapes']
for i in fruits:
    print(i)
    if i=='banana':
        break

apple
banana

In [58]:
fruits=['apple','banana','cherry','grapes']
colors=['black','blue','white','pink']
for i in fruits:
    for j in colors:
        print(i,j)

apple black
apple blue
apple white
apple pink
banana black
banana blue
banana white
banana pink
cherry black
cherry blue
cherry white
cherry pink
grapes black
grapes blue
grapes white
grapes pink

In [59]:
values=[12,43,10,25,40,20,64,80,5]
for i in values:
    if i%5==0:
        print(i)

10
25
40
20
80
5

In [60]:
values=[12,43,10,25,40,20,64,80,5]
for i in values:
    if i%5==0:
        print(i)
        break

10

In [61]:
num=[1,2,3,6,7,8,10]
for i in num:
    if i%2==0:
        print(i)
        break

2

In [62]:
# for loop using else condition
num=[1,2,3,6,7,8,11]
for i in num:
    if i%5==0:
        print(i)
        break
else:
    print('value not found')

value not found

In [63]:
for i in range(6):
    if i==3:
        break
    print(i)
else:
    print('its finished')

0
1
2

In [64]:
for i in range(6):
    if i==3:
        print(i)
        break
else:
    print('its finished')

3

In [65]:
for i in ['a','b','c','d','e','f']:
    if i=='d':
        print('element found')
    print(i)

a
b
c
element found
d
e
f

In [66]:
for i in ['a','b','c','d','e','f']:
    if i=='d':
        print('element found')
        break
    print(i)

a
b
c
element found

In [67]:
for i in range(10):
    print(i)
    if i==6:
        break

0
1
2
3
4
5
6

In [68]:
for i in range(10):
    #print(i)
    if i==6:
        break
    print(i)

0
1
2
3
4
5

In [69]:
i=1
while i<=5:
    print(i)
    break

1

In [70]:
x=int(input('enter how many chacolates you want:'))
i=1
while i<=x:
    print('chacolate:',i)
    i=i+1

enter how many chacolates you want: 8

chacolate: 1
chacolate: 2
chacolate: 3
chacolate: 4
chacolate: 5
chacolate: 6
chacolate: 7
chacolate: 8

In [71]:
available_chacolates=5
x=int(input('enter how many chacolates you want:'))
i=1
while i<=x:
    if i>available_chacolates:
        print('out of stack')
        break
    print('chacolate:',i)
    i=i+1
print('bye for now')

enter how many chacolates you want: 8

chacolate: 1
chacolate: 2
chacolate: 3
chacolate: 4
chacolate: 5
out of stack
bye for now

# continue statement

In [73]:
for i in range(0,11):
    if i==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10

In [74]:
for i in range(0,11):
    if i%3==0:
        continue
    print(i)

1
2
4
5
7
8
10

In [75]:
x=0
while x<=10:
    x=x+1
    if x%2==0:
        continue
    print(x)

1
3
5
7
9
11

In [76]:
num=int(input('enter the number:'))
for i in range(0,num+1):
    if i%3==0 or i%5==0:
        continue
    print(i)

enter the number: 30

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29

In [77]:
for i in range(0,11):
    if i==6:
        continue
    print(i,end=' ')

0 1 2 3 4 5 7 8 9 10

In [78]:
for char in 'greekforgreeks':
    if char=='e':
        continue
    print(char)

g
r
k
f
o
r
g
r
k
s

In [79]:
for char in 'greekforgreeks':
    if char=='e':
        continue
    print(char,end=' ')

g r k f o r g r k s

In [80]:
# nested for loop
matrix=[[1,2,3],[4,5,6],[7,8,9]]
for i in matrix:
    for j in i:
        if j==3:
            continue
        print(j,end=' ')

1 2 4 5 6 7 8 9

In [ ]:
i=1
while i<=10:
    if i==5:
        continue
    print(i)
    i=i+1

1
2
3
4

In [1]:
i = 0
while i < 9:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6
7
8
9

In [3]:
x=0
for x in range(10):
    x=x+1
    if x==3 or x==6:
        continue
    print('number is:',x)
print('out of loop')

number is: 1
number is: 2
number is: 4
number is: 5
number is: 7
number is: 8
number is: 9
number is: 10
out of loop

In [15]:
for number in range(1, 10):
    if number % 2 == 1:
        continue
    print(number ** 2)
else:
    print("Done")

4
16
36
64
Done

In [17]:
for i in ['a','b','c','d','e','f']:
    if i=='d':
        print('element found')
        continue
    print(i)

a
b
c
element found
e
f

In [19]:
values=[12,43,10,25,40,20,64,80,5]
for i in values:
    if i%5==0:
        print(i)
        continue

10
25
40
20
80
5

In [23]:
values=[12,43,1,2,4,2,64,83,13]
for i in values:
    if i%5==0:
        print(i)
        continue
else:
    print('element not found')

element not found

In [26]:
for letter in 'geeksforgeeks':
    if letter == 'e' or letter == 's':
        continue
    print('Current Letter :', letter)

Current Letter : g
Current Letter : k
Current Letter : f
Current Letter : o
Current Letter : r
Current Letter : g
Current Letter : k

# pass statement

In [60]:
x=10
if x>5:
    pass
else:
    print('abac')

In [36]:
x=1
if x>5:
    pass
else:
    print('x is lessthan 5')

x is lessthan 5

In [40]:
for i in range(10):
    if i==3:
        pass
    else:
        print(i)

0
1
2
4
5
6
7
8
9

In [44]:
n=10
if n>10:
    #write some code here
print('hello')

IndentationError: expected an indented block after 'if' statement on line 2 (1541380384.py, line 4)

In [46]:
n=10
if n>10:
    pass
print('hello')

hello

In [48]:
for letter in 'Python': 
   if letter == 'h':
      pass
      print ('This is pass block')
   print ('Current Letter :', letter)
print ("Good bye!")

Current Letter : P
Current Letter : y
Current Letter : t
This is pass block
Current Letter : h
Current Letter : o
Current Letter : n
Good bye!

In [54]:
count=0
while count<10:
    count=count+1
    if count%2==0:
        pass
    else:
        print(count)

1
3
5
7
9

In [56]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    if i%2==0:
        pass
    else:
        print(i)

1
3
5
7
9